{{define "markdown_help"}}
<details class="markdown-help">
    <summary>{{t "Markdown cheat sheet"}}</summary>
    <table class="markdown-help__table">
        <thead>
            <tr>
                <th scope="col">{{t "Spelling"}}</th>
                <th scope="col">{{t "Result"}}</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>{{th "<code># Heading</code>"}}</td><td>{{t "Large heading"}}</td></tr>
            <tr><td>{{th "<code>## Subheading</code>"}}</td><td>{{t "Smaller heading"}}</td></tr>
            <tr><td>{{th "<code>**bold**</code>"}}</td><td>{{th "<strong>bold</strong>"}}</td></tr>
            <tr><td>{{th "<code>*italic*</code>"}}</td><td>{{th "<em>italic</em>"}}</td></tr>
            <tr><td>{{th "<code>[Text](https://example.com)</code>"}}</td><td>{{t "Link"}}</td></tr>
            <tr><td>{{th "<code>![Image](/media/1/photo.jpg)</code>"}}</td><td>{{t "Image from the media library"}}</td></tr>
            <tr><td>{{th "<code>- item</code>"}}</td><td>{{t "Bullet list"}}</td></tr>
            <tr><td>{{th "<code>1. item</code>"}}</td><td>{{t "Numbered list"}}</td></tr>
            <tr><td>{{th "<code>&gt; quotation</code>"}}</td><td>{{t "Indented quotation"}}</td></tr>
            <tr><td>{{th "<code>---</code>"}}</td><td>{{t "Rule"}}</td></tr>
            <tr><td>{{t "Blank line"}}</td><td>{{t "New paragraph"}}</td></tr>
        </tbody>
    </table>
</details>
{{end}}
